.desktop-horizontal {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop-horizontal .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 10804px;
    height: 1024px;
    position: relative;
}

.desktop-horizontal .overlap {
    position: absolute;
    width: 3652px;
    height: 1408px;
    top: 0;
    left: -16px;
}

.desktop-horizontal .element {
    position: absolute;
    width: 349px;
    height: 254px;
    top: 688px;
    left: 2192px;
}

.desktop-horizontal .overlap-group {
    position: absolute;
    width: 3652px;
    height: 1408px;
    top: 0;
    left: 0;
}

.desktop-horizontal .rambagh-png {
    position: absolute;
    width: 2035px;
    height: 1024px;
    top: 0;
    left: 0;
}

.desktop-horizontal .rectangle {
    position: absolute;
    width: 2035px;
    height: 1014px;
    top: 10px;
    left: 0;
    background-color: #00000080;
}

.desktop-horizontal .group {
    position: absolute;
    width: 839px;
    height: 553px;
    top: 855px;
    left: 596px;
}

.desktop-horizontal .illuminating-spirits {
    position: absolute;
    width: 837px;
    top: 0;
    left: 0;
    font-family: "Cormorant-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1.13px;
    line-height: normal;
}

.desktop-horizontal .rectangle-2 {
    position: absolute;
    width: 1460px;
    height: 452px;
    top: 69px;
    left: 2192px;
    background-color: #e5e5e5;
}

.desktop-horizontal .regal-in-its-bearing {
    position: absolute;
    width: 404px;
    top: 286px;
    left: 2289px;
    font-family: "Proxima Nova-Regular", Helvetica;
    font-weight: 400;
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
}

.desktop-horizontal .element-copy {
    position: absolute;
    width: 411px;
    height: 616px;
    top: 130px;
    left: 3100px;
    object-fit: cover;
}

.desktop-horizontal .the-polo-trunk {
    position: absolute;
    width: 654px;
    top: 163px;
    left: 2289px;
    font-family: "Cormorant-Medium", Helvetica;
    font-weight: 500;
    color: #002d5c;
    font-size: 32px;
    letter-spacing: 1.58px;
    line-height: normal;
    white-space: nowrap;
}

.desktop-horizontal .treasuring-passion {
    position: absolute;
    width: 433px;
    top: 129px;
    left: 2289px;
    font-family: "Proxima Nova-Regular", Helvetica;
    font-weight: 400;
    color: #303030;
    font-size: 20px;
    letter-spacing: 1.58px;
    line-height: normal;
}

.desktop-horizontal .line {
    width: 119px;
    top: 230px;
    left: 2289px;
    position: absolute;
    height: 1px;
}

.desktop-horizontal .a-relationship-as {
    position: absolute;
    width: 674px;
    height: 177px;
    top: 446px;
    left: 1847px;
    font-family: "Cormorant-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18.1px;
    text-align: center;
    letter-spacing: 1.29px;
    line-height: 31px;
}

.desktop-horizontal .overlap-2 {
    position: absolute;
    width: 1103px;
    height: 1111px;
    top: -57px;
    left: 9424px;
}

.desktop-horizontal .img {
    position: absolute;
    width: 773px;
    height: 1111px;
    top: 0;
    left: 0;
}

.desktop-horizontal .overlap-group-wrapper {
    position: absolute;
    width: 660px;
    height: 586px;
    top: 322px;
    left: 443px;
}

.desktop-horizontal .overlap-group-2 {
    position: relative;
    height: 586px;
}

.desktop-horizontal .ellipse {
    position: absolute;
    width: 660px;
    height: 45px;
    top: 541px;
    left: 0;
    border-radius: 329.77px/22.36px;
    background: radial-gradient(50% 50% at 50% 50%, rgb(124.31, 124.31, 124.31) 0%, rgba(255, 255, 255, 0) 100%);
}

.desktop-horizontal .rambagh-png-2 {
    position: absolute;
    width: 575px;
    height: 563px;
    top: 0;
    left: 41px;
}

.desktop-horizontal .element-copy-wrapper {
    position: absolute;
    width: 578px;
    height: 665px;
    top: 243px;
    left: 6977px;
    background-image: url(./img/0w7a0737-1.png);
    background-size: 100% 100%;
}

.desktop-horizontal .element-wa-copy {
    position: absolute;
    width: 578px;
    height: 665px;
    top: 0;
    left: 0;
}

.desktop-horizontal .overlap-3 {
    position: absolute;
    width: 1414px;
    height: 1289px;
    top: -203px;
    left: 5552px;
}

.desktop-horizontal .overlap-4 {
    position: absolute;
    width: 1414px;
    height: 1111px;
    top: 0;
    left: 0;
}

.desktop-horizontal .overlap-5 {
    position: absolute;
    width: 1414px;
    height: 860px;
    top: 0;
    left: 0;
}

.desktop-horizontal .rectangle-3 {
    position: absolute;
    width: 964px;
    height: 584px;
    top: 0;
    left: 364px;
    background-color: #e5e5e5;
}

.desktop-horizontal .element-wa {
    position: absolute;
    width: 794px;
    height: 588px;
    top: 272px;
    left: 0;
}

.desktop-horizontal .text-wrapper {
    position: absolute;
    width: 342px;
    top: 389px;
    left: 917px;
    font-family: "Proxima Nova-Regular", Helvetica;
    font-weight: 400;
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.desktop-horizontal .line-2 {
    width: 102px;
    top: 362px;
    left: 917px;
    position: absolute;
    height: 1px;
}

.desktop-horizontal .CRYSTALWARE-POLO {
    position: absolute;
    width: 497px;
    top: 291px;
    left: 917px;
    font-family: "Cormorant-Bold", Helvetica;
    font-weight: 700;
    color: #002d5c;
    font-size: 29.1px;
    letter-spacing: -0.45px;
    line-height: 51.9px;
}

.desktop-horizontal .element-copy-2 {
    position: absolute;
    width: 794px;
    height: 586px;
    top: 272px;
    left: 0;
}

.desktop-horizontal .element-2 {
    position: absolute;
    width: 251px;
    height: 253px;
    top: 858px;
    left: 1077px;
    background-blend-mode: luminosity;
}

.desktop-horizontal .overlap-6 {
    position: absolute;
    width: 548px;
    height: 387px;
    top: 902px;
    left: 0;
}

.desktop-horizontal .p {
    width: 548px;
    top: 87px;
    position: absolute;
    left: 0;
    font-family: "Proxima Nova-Regular", Helvetica;
    font-weight: 400;
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.desktop-horizontal .line-3 {
    position: absolute;
    width: 102px;
    height: 1px;
    top: 63px;
    left: 0;
}

.desktop-horizontal .text-wrapper-2 {
    position: absolute;
    width: 497px;
    top: 0;
    left: 0;
    font-family: "Cormorant-Bold", Helvetica;
    font-weight: 700;
    color: #002d5c;
    font-size: 29.1px;
    letter-spacing: -0.45px;
    line-height: 51.9px;
}

.desktop-horizontal .gif-wrapper {
    position: absolute;
    width: 714px;
    height: 1065px;
    top: -41px;
    left: 7653px;
    background-image: url(./img/polo-video-edit-1-24.png);
    background-size: 100% 100%;
}

.desktop-horizontal .gif {
    position: absolute;
    top: 527px;
    left: 357px;
    font-family: "Proxima Nova-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1.13px;
    line-height: normal;
}

.desktop-horizontal .overlap-7 {
    position: absolute;
    width: 497px;
    height: 390px;
    top: 502px;
    left: 8511px;
}

.desktop-horizontal .text-wrapper-3 {
    width: 342px;
    top: 90px;
    position: absolute;
    left: 0;
    font-family: "Proxima Nova-Regular", Helvetica;
    font-weight: 400;
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.desktop-horizontal .element-wa-copy-wrapper {
    position: absolute;
    width: 348px;
    height: 375px;
    top: 62px;
    left: 8511px;
    background-image: url(./img/0w7a0766-1.png);
    background-size: 100% 100%;
}

.desktop-horizontal .element-copy-3 {
    position: absolute;
    width: 348px;
    height: 375px;
    top: 0;
    left: 0;
}

.desktop-horizontal .element-3 {
    position: absolute;
    width: 350px;
    height: 530px;
    top: 351px;
    left: 9046px;
}

.desktop-horizontal .overlap-8 {
    position: absolute;
    width: 1680px;
    height: 1024px;
    top: 4px;
    left: 3754px;
    background-image: url(./img/polo-video-edit-1-30.png);
    background-size: 100% 100%;
}

.desktop-horizontal .rectangle-4 {
    position: absolute;
    width: 1680px;
    height: 1024px;
    top: 0;
    left: 0;
    background-color: #00000099;
}

.desktop-horizontal .rectangle-5 {
    position: absolute;
    width: 1680px;
    height: 1020px;
    top: 0;
    left: 0;
    background-color: #00000080;
}

.desktop-horizontal .gif-2 {
    position: absolute;
    top: 486px;
    left: 840px;
    font-family: "Proxima Nova-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1.13px;
    line-height: normal;
}
